@import url(Components/navbar.css);
@import url(Components/contact.css);
@import url(Components/footer.css);
@import url(Components/projects-section.css);

:root {
  --pink: #f285cc;
  --green: #468758;
  --lightGreen: #51a65e;
  --yellow: #eff28d;
  --dracula: #2d303e;
  --lightDracula: #42374c;
  --blue: #99e9f2;
  --lilla: #b79bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
  color: white;
}

body {
  background-color: var(--dracula);
}

h2 {
  font-size: 2rem;
  padding: 30px;
  text-align: center;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;
  letter-spacing: 4px;
}

/*ABOUT section*/
#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 20px;
}

.about-txt {
  padding: 10px;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  color: var(--pink);
  letter-spacing: 2px;
}

.emily-avatar img {
  max-width: 400px;
  width: 100%;
  border-radius: 50%;
}

.btn {
  margin: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  border: currentColor 0.100em solid;
  border-radius: 0.25em;
  cursor: pointer;
  padding: 0.5em;
}

.btn:hover,
.btn:focus {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
}

.btn a,
.btn .fa-brands {
  text-decoration: none;
  color: currentColor;
}

.linkedin {
  color: var(--blue);
}

/*MEDIA QUERRY*/
@media (max-width: 800px) {
  #about {
    flex-direction: column-reverse;
    text-align: -webkit-center;
  }
}