:root {
  --pink: #f285cc;
  --green: #468758;
  --lightGreen: #51a65e;
  --yellow: #eff28d;
  --dracula: #2d303e;
  --lightDracula: #42374c;
  --blue: #99e9f2;
  --lilla: #b79bf2;
}

#contact {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 50px 0;
}

#form {
  padding: 10px;
}

input,
textarea {
  width: 100%;
  padding: 1.25rem;
  font-size: 20px;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 0.313em;
  margin-top: 0.5rem;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: var(--pink);
  box-shadow: inset 0 0 0.5em 0 var(--pink), 0 0 0.5em 0 var(--pink);
}

label {
  font-size: 20px;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

.submit {
  color: var(--pink);
  font-size: 2rem;
  background-color: transparent;
  border: var(--pink) 0.1em solid;
  border-radius: 0.25em;
  cursor: pointer;
  padding: 0.25em 1em;
}

.submit:hover,
.submit:focus {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
}

.submit:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.form-control {
  margin-bottom: 2rem;
}

.form-control small {
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

/*CONTACT SUCCESS*/
#thanks{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 20px;
}

.home {
  color: var(--pink);
}

.fa-solid {
  text-decoration: none;
  color: currentColor;
}

/*MEDIA QUERRY*/
@media (max-width: 800px) {
#thanks {
  flex-direction: column-reverse;
   text-align: -webkit-center;
 }
}